{
  "RentEnabled": true,
  "VoiceChatEnabled": true,
  "FoodVarietyMultiplierEnabled": true,
  "FoodTastinessMultiplierEnabled": true,
  "PlacementOnSurfaces": false,
  "SettlementEnabled": true,
  "CultureEnabled": true,
  "AllowFaceTrackingOnServer": true,
  "AchievementsEnabled": true,
  "CameraModeEnabled": true,
  "InitialSpawnSelection": true
}