{
  "AcceptItemsBoughtInAnyWorld": true,
  "AcceptItemsBoughtInTheseWorlds": [],
  "AcceptAchievementsFromAnyWorld": true,
  "AcceptAchievementsFromTheseWorlds": [],
  "AllowPaidItemsInPlayerStores": false,
  "AllowUsingPaidItemsWithoutBlueprint": false,
  "BlockUsingAnyPaidItem": false,
  "ShowPurchaseNotification": true
}