{
  "MaxAllowedTextureSizeInKB": 400,
  "MaxDimensionOfUserTexture": 512,
  "AutoApprovePrinterPictures": false,
  "AutoApproveAvatarPictures": true,
  "AutoApproveInGamePhoto": true,
  "AllowTextureUpload": true
}